html,
body {
  height: 100%;
}

body {
  font-family: 'Axiforma Medium', sans-serif;
  font-size: 20px;
  //padding-top: 80px;
  
  background-image: url("../img/bg/main_bg.jpg");
}


#card_view
{
    padding: 2px;
    width: 100%;
    height: 272px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

#client_view {
    padding: 2px;
    width: 100%;
    height: 272px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#content-s {
    width: 100%;
    margin-bottom: 10px;
}

#content-header-s
{
    width: 100%;
    height: 30px;
    background-color: white;
    padding: 5px;
    font-size: 16px;
}

#content-body-s
{
    width: 100%;
    height: 250px;
    background-color: #FFFBF3;
    padding: 5px;
    font-size: 14px;
}

#content-body-s-nf
{
    width: 100%;
    background-color: #FFFBF3;
    padding: 5px;
    font-size: 14px;
}

#content-footer-s
{
    width: 100%;
    height: 30px;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 12px;
}

#person-s {
    width: 100%;
    margin-bottom: 10px;
}

#person-header-s
{
    width: 100%;
    height: 30px;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 16px;
}

#person-picture-s
{
    width: 100%;
    background-color: white;
    padding: 5px;
    font-size: 14px;
}

#person-data-s
{
    width: 100%;
    background-color: white;
    padding: 5px;
    font-size: 14px;
}
#person-footer-s
{
    width: 100%;
    height: 40px;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 8px;
}

#card_details
{
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

#toggle-option
{
    margin-top: 10px;
    margin-left: 10px;
}

#service-selection
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#payment-limits
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}


@font-face {
  font-family: Axiforma Extrabold;
  src: url(../font/Axiforma-ExtraBold.eot), url(../font/Axiforma-ExtraBold.otf), url(../font/Axiforma-ExtraBold.svg), url(../font/Axiforma-ExtraBold.ttf), url(../font/Axiforma-ExtraBold.woff); }

@font-face {
  font-family: Axiforma Light;
  src: url(../font/Axiforma-Light.eot), url(../font/Axiforma-Light.otf), url(../font/Axiforma-Light.svg), url(../font/Axiforma-Light.ttf), url(../font/Axiforma-Light.woff); }

@font-face {
  font-family: Axiforma Medium;
  src: url(../font/Axiforma-Medium.eot), url(../font/Axiforma-Medium.otf), url(../font/Axiforma-Medium.svg), url(../font/Axiforma-Medium.ttf), url(../font/Axiforma-Medium.woff); }

@font-face {
  font-family: Axiforma Semibold;
  src: url(../font/Axiforma-SemiBold.eot), url(../font/Axiforma-SemiBold.otf), url(../font/Axiforma-SemiBold.svg), url(../font/Axiforma-SemiBold.ttf), url(../font/Axiforma-SemiBold.woff); }

@font-face {
  font-family: Axiforma Thin;
  src: url(../font/Axiforma-Thin.eot), url(../font/Axiforma-Thin.otf), url(../font/Axiforma-Thin.svg), url(../font/Axiforma-Thin.ttf), url(../font/Axiforma-Thin.woff); }

@font-face {
  font-family: Axiforma Regular;
  src: url(../font/Axiforma-Regular.eot), url(../font/Axiforma-Regular.otf), url(../font/Axiforma-Regular.svg), url(../font/Axiforma-Regular.ttf), url(../font/Axiforma-Regular.woff); }

