<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="share.master.com.sharemaster">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_share_master"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_share_master"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EnrollCard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cupons"
            android:screenOrientation="portrait" />
        <activity android:name=".AuthoriseYourCard"   android:screenOrientation="portrait"/>
        <activity android:name=".UnsuccessfulPayment"  android:screenOrientation="portrait"/>
    </application>

</manifest>